/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: black;
    color: white;
}

/* NAV */
nav {
    width: 100%;
    padding: 1rem 5%;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15rem;
    justify-content: center;
}

.nav-links li a {
    font-size: 1rem;
    text-decoration: none;
    color: aliceblue;
}

.nav-links li a:hover {
    text-shadow: 0 0 40px #E6BF49;
}
.main {
    height: 100vh;
    background-image: url("images/mainImage_1_bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/mainImage_1_fg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    pointer-events: none;
    z-index: 2;
}

/* FOREGROUND IMAGE */

/* LOGO */
.logo {
    font-size: 15vw;
    font-weight: 700;
    color: aliceblue;
    text-align: center;
    line-height: 0.9;
}

.logo:hover {
    text-shadow:
        0 0 10px #E6BF49,
        0 0 30px #E6BF49,
        0 0 60px #E6BF49;
}

/* TEXT */
h2 {
    font-size: 5rem;
    font-weight: 600;
    text-align: right;
    padding-right: 50px;
}

p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
    padding-left: 60%;
    text-align: right;
    padding-right: 50px;
}



/* GRIDWORK MAN I HATES TS FUHHHHHH obou pu gog 7g97f0d08282vy)XV */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
    background: black;
}

/* Grid items */
.artwork {
    color: black;
    background: white;
    aspect-ratio: 16 / 9;
    width: 100%;
}